<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container">
  <div class="address-bar"> Followed Blogs</div>
  <div class="box">
    <div class="pull-left">
      <%= link_to "Back To Dashboard", dashboard_path %>
    </div>
    <% @following.each do |blog| %>
      <h2 class="intro-text text-center"> <%= blog["name"] %> </h2>
      <% blog_service(current_user).new_posts(blog["url"])["posts"].each do |post| %>

        <% if post["type"] == "photo" %>
          <div class="">
            <%= image_tag post["photos"][0]["alt_sizes"][2]["url"], height: '300' %>
          </div>
          <div class="btn-group inline">
            <div class="btn"><%= button_to "Like", {:controller => "feed", :action => "update", :post_id => post["id"], :reblog_key => post["reblog_key"]} %></div>
            <div class="btn"><%= button_to "Reblog", {:controller => "feed", :action => "update", :post_id => post["id"], :reblog_key => post["reblog_key"], :method => :reblog} %></div>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>

</div>
