<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="container">
    <div class="brand">Welcome, <%= current_user.name %></div>
    <%= image_tag current_user.avatar, class: "img-circle img-thumbnail home-image center-block" %>
    <div class="address-bar"> <%= current_user.blog_url %> </div>
    <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to "Logout", logout_path, method: 'delete' %></li>
      <li><%= link_to "Your Feed", feed_path %></li>
    </ul>
  </div>
  <br>
  <div class="box">
    <% @posts.each do |post| %>
      <h2 class="intro-text text-center"><%= post["source_title"] %></h2>
      <%= post["type"] %>
      <% if post["type"] == "photo" %>
        <%= image_tag post["photos"][0]["alt_sizes"][2]["url"], height: '300' %>
        <br>
      <% end %>
      <% if post["type"] == "video" %>
        <%= %Q{#{post["player"][2]["embed_code"]}}.html_safe %>
        <br>
      <% end %>
      <% if post["type"] == "text" %>
        <%= post["body"] %>
        <br>
      <% end %>
      <div class= "btn">
        <%= button_to "Like", {:controller => "dashboard", :action => "update", :post_id => post["id"], :reblog_key => post["reblog_key"]} %>
      </div>
    <% end %>

  </div>
</div>
